$theme: dark;
$font-header: 'Source Sans Pro', sans-serif;
$font-main: 'Fresca', sans-serif;
$header-img: "m-h-night.jpg";
$text-colors: (header: #FFF, content: #D1D1D1, button: #FFF, card-heading: #FFF);
$background-colors: (main: #21232E, footer: #3B3F50, card: #3B3F50, underline: #FF4E33, button: #E3AC00);